<h1>HI</h1>
<!-- <p>{{ title }}</p> -->
<!-- <div>
  {{ arr }}
</div>
<div>
  {{ 2 * 3 }}
</div> -->
<!-- <img [src]="img" alt="" /> -->
<!-- <button (click)="onClick()">Click me</button>
<input type="text" (input)="onInput($event)" />
<strong>{{ inputValue }}</strong> -->
<!-- <input type="text" [(ngModel)]="title" />
<strong>{{ title }}</strong> -->

<!-- <button (click)="bgToggle = !bgToggle">Toggle</button> -->
<!-- <div
  [ngStyle]="{
    color: 'green',
    borderRadius: '5px',
    border: '1px solid red',
    height: '200px',
    background: bgToggle ? 'red' : 'blue',
    backgroundColor: 'purple'
  }"
></div> -->
<!-- <p [ngClass]="{ red: bgToggle, blue: !bgToggle }">
  Lorem ipsum dolor sit amet.
</p> -->
<!-- <p [class.blue]="!bgToggle" [class.red]="bgToggle">Lorem, ipsum.</p> -->
<!-- <button (click)="Toggle = !Toggle">Toggle</button> -->
<!-- <p *ngIf="Toggle; else blueP" class="red">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, debitis!
</p>
<ng-template #blueP>
  <p class="blue">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore, modi?
  </p>
</ng-template> -->
<!-- <div [ngSwitch]="Toggle">
  <p *ngSwitchCase="true" class="red">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore, modi?
  </p>
  <p *ngSwitchCase="false" class="blue">
    Lorem ipsum dolor sit amet
  </p>
  <p *ngSwitchDefault>
    Lorem ipsum
  </p>
</div> -->

<ul>
  <li *ngFor="let post of obj">
    <h2>{{ post.title }}</h2>
    <h3>{{ post.auth }}</h3>
    <ul>
      <li *ngFor="let coment of post.coments">
        <small>{{ coment.name }}</small>
        <p>{{ coment.text }}</p>
      </li>
    </ul>
  </li>
</ul>

<hr />
<app-post></app-post>
<app-post2></app-post2>
<app-post4></app-post4>
